@import url('http://fonts.cdnfonts.com/css/scientific-calculator-lcd');

.calculator-container {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  margin-top: 30%;
  margin-left: 35%;
  margin-bottom: 30%;
  width: 30%;
  height: 261px;
}

.calculator-result {
  background-color: rgb(133, 134, 147);
  color: white;
  text-align: end;
  grid-row: 1 / span 1;
  font-family: 'Scientific Calculator LCD', sans-serif;
  font-size: 12px;
}

.calculator-result span {
  position: relative;
  top: 25%;
  left: -1%;
}

.command-line {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.simple-btn {
  background-color: rgb(224, 224, 224);
  text-align: center;
  font-size: 10px;
  font-family: 'Scientific Calculator LCD', sans-serif;
  border: 1px solid rgb(214, 214, 214);
}

.simple-btn span {
  position: relative;
  top: 40%;
}

.merge-btn {
  background-color: rgb(224, 224, 224);
  text-align: center;
  font-size: 10px;
  font-family: 'Scientific Calculator LCD', sans-serif;
  border: 1px solid rgb(214, 214, 214);
  grid-column: 1 / span 2;
}

.merge-btn span {
  position: relative;
  top: 40%;
}

.op-btn {
  background-color: rgb(245, 145, 62);
  text-align: center;
  font-size: 10px;
  font-family: 'Scientific Calculator LCD', sans-serif;
  border: 1px solid rgb(214, 214, 214);
}

.op-btn span {
  position: relative;
  top: 40%;
}
