
body {
  height: 100vh;
  background: linear-gradient(rgba(188, 50, 190, 0.5), rgba(155, 152, 15, 0.25));
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navClass {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: 5%;
  margin-top: 2.5%;
  margin-right: 5%;
}

.navClass h1 {
  background: linear-gradient(rgb(133, 134, 147), rgb(245, 145, 62));
  -webkit-background-clip: text;
  color: transparent;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 25%;
  padding: 1%;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 20%;
  list-style: none;
  align-items: center;
}

li {
  padding: 0 5%;
  border-right: 1px solid rgb(133, 134, 147);
}

li a {
  color: rgb(133, 134, 147);
  font-family: "Segoe UI", Arial, sans-serif;
}

li a:hover {
  background: linear-gradient(rgb(170, 162, 158), rgb(245, 145, 62));
  -webkit-background-clip: text;
  color: transparent;
}
